<?xml version="1.0"?>
<robot name="clover4">
  <link name="base_link">
    <inertial>
      <mass value="1.5"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.017" ixy="0.0" ixz="0.0" iyy="0.017" iyz="0.0" izz="0.030"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file://my_clover_description/meshes/clover4/clover_body_solid.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.35 0.35 0.05"/>
      </geometry>
    </collision>
  </link>
  
  <!-- Front camera -->
  <link name="front_camera_link">
    <visual>
      <geometry>
        <box size="0.02 0.03 0.02"/>
      </geometry>
      <material name="gray">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
  </link>
  <joint name="front_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_camera_link"/>
    <origin xyz="0.1 0 0.02" rpy="0 0 0"/>
  </joint>
</robot>